<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Biblioteca Virtual Biblos</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item-px-3">
            <br>
            <center>
                <img src="https://i.imgur.com/9W1Q7MK.png" alt="Logo" style="width:200px;height:150px; border-radius: 5%;">
            </center>
            <br>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Modulos_libros">
                <span class="oi oi-book" aria-hidden="true"></span> Libros
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Modulos_facturas">
                <span class="oi oi-bookmark" aria-hidden="true"></span> Facturas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FiltroLibros">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Filtro de Facturas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/FiltroVentaAlta">
                <span class="oi oi-dollar" aria-hidden="true"></span> Historial de Ventas 
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
